click==8.1.3
colorama==0.4.4
Flask==2.1.2
importlib-metadata==4.11.4
itsdangerous==2.1.2
jellyfish==0.9.0
Jinja2==3.1.2
MarkupSafe==2.1.1
networkx==2.8.3
numpy==1.22.4
regex==2022.6.2
segtok==1.5.11
tabulate==0.8.9
Werkzeug==2.1.2
yake==0.4.8
zipp==3.8.0
gunicorn==20.1.0
